* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#drum-machine {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.drum-pad {
  padding: 20px;
}

.pad-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

